LOSCFG_COMPILE_DEBUG=y
LOSCFG_PLATFORM_QEMU_ARM_VIRT_CM4=y
LOSCFG_ARCH_FPU_DISABLE=y
# LOSCFG_HALS_COMMUCATION_WIFI_LITE is not set
LOSCFG_SOC_SERIES_ING9188=y
# LOSCFG_KERNEL_SIGNAL is not set
LOSCFG_LIBC_NEWLIB=y
# LOSCFG_FS_VFS is not set
# LOSCFG_DEBUG_VERSION is not set
# LOSCFG_DRIVERS is not set
